View ground-truth
     Camera  stage
     Drawing stage
#     Drawing visitor1_true_drawing
#     Drawing visitor2_true_drawing
#     Drawing visitor3_true_drawing
     Drawing Rackham_true_drawing
     Drawing Rackham_drive
     Drawing Rackham_goaldrawing
     Drawing Rackham_trajectory
     Drawing Jido_true_drawing
     Drawing Jido_drive
     Drawing Jido_goaldrawing
     Drawing Jido_trajectory
     Window  0.0  0.2  0.6  0.8
     Border  0

View rackham
     Camera  Rackham_true_zoom_camera
     Drawing Rackham_global_gldrawing
     Drawing Rackham_bbdrawing
     Drawing Rackham_true_drawing
     Drawing Rackham_drive
     Drawing Rackham_lidar_0
     Drawing Rackham_goaldrawing
     Drawing Rackham_trajectory
     Window  0.6  0.0  1.0  0.5
     Border  0

View rackham_collision
     Camera  Rackham_collisioncamera
     Drawing Rackham_collisiondrawing
     Window  0.0  0.0  0.3  0.2
     Border  2

View rackham_dwa
     Camera Rackham_dwcamera
     Drawing Rackham_dwdrawing
     Window 0.3  0.0  0.6  0.2
     Border 2

View jido
     Camera  Jido_true_zoom_camera
     Drawing Jido_global_gldrawing
     Drawing Jido_bbdrawing
     Drawing Jido_true_drawing
     Drawing Jido_drive
     Drawing Jido_lidar_0
     Drawing Jido_goaldrawing
     Drawing Jido_trajectory
     Window  0.6  0.5  1.0  1.0
     Border  0

View jido_collision
     Camera  Jido_collisioncamera
     Drawing Jido_collisiondrawing
     Window  0.0  0.8  0.3  1.0
     Border  2

View jido_dwa
     Camera Jido_dwcamera
     Drawing Jido_dwdrawing
     Window 0.3  0.8  0.6  1.0
     Border 2
